!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body(class="body")

    %div(class="header-bar")
      %p(class="header-bar__text") グループを作成しました

    %div(class="chat")
      = render partial: "leftbar"

      %div(class="chat-area")
        %div(class="chat-area__group")
          %div(class="chat-area__group__top")
            %p(class="chat-area__group__top__name") グループ名
            %a(href="/" class="chat-area__group__top__edit-btn") Edit
          %p(class="chat-area__group__member-name") Member：メンバー名

        %div(class="chat-area__post")
          %div(class="chat-area__post__message")
            %div(class="chat-area__post__message__contributor")
              %p(class="chat-area__post__message__contributor__name") 投稿者名
              %p(class="chat-area__post__message__contributor__date") 投稿日時
            %p(class="chat-area__post__message__text") 投稿内容

        %div(class="chat-footer")
          %div(class="chat-footer__box")
            %div(class="chat-footer__box__form")
              %input(class="chat-footer__box__form__text" placeholder="type a message")
              %label.upload-label(for="upload-icon" class="chat-footer__box__form__icon")
                %i(class="fa fa-picture-o")
            %a(href="/" class="chat-footer__box__send-btn") Send
