!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body(class="body")

    %div(class="leftbar")
      %div(class="leftbar__top")
        %p(class="leftbar__top__name") ユーザー名
        %ul(class="leftbar__top__link")
          %i(class="fa fa-edit")
          %i(class="fa fa-cog")
      %div(class="leftbar__group")
        %div(class="leftbar__group__link")
          %p(class="leftbar__group__link__name") グループ名
          %p(class="leftbar__group__link__comment") 先頭コメント